<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
</head>
<body>
<h1>To-Do-List:</h1>

<form action="/toDo" method="post" th:object="${taskForm}">
    Dodaj zadanie: <input type="text" th:field="*{message}"  required> <br/>
    Deadline: <input type="time" th:field="*{deadline}"  required>
    <br/><br/>

    <input type="submit" value="Wyślij">
</form>

<div th:each="prod,iterStat : ${getList}">

    <span th:style="${prod.getDeadline().isBefore(#temporals.createNow()) ? 'color: red' : ''}"
          th:text="${prod.getMessage()}"></span>
    <strong th:text="${prod.getDeadline()}"></strong>


    <a th:href="${'/delete/' + iterStat.index }">Usuń</a>


</div>

</div>

</body>
</html>